#products{
    display:grid;
    grid-template-columns: 30vw auto;
    gap:1rem;
}

#products aside, #products_container{
}

#products_container{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:1rem;
}

#products_container img{
    width:100%;
}

.product{
    border:1px solid #ccc;
    padding:1rem;
    cursor: pointer;
    transition: .5s;
}

.product:hover{
    border:1px solid red;
}

#category_list{
    list-style: none;
}
#category_list li{
    padding:1rem;
    background-color:orange;
    color:#fff;
    border:1px solid rgb(222, 145, 2);
}

#category_list li:hover{
    background-color:rgb(222, 145, 2);
}

#category_list li a{
    display:block;
    color:#000000;
    text-decoration: none;
}

body{
    margin:0;
}